@use "main";
*,html{
    scroll-behavior: smooth !important;
}
@mixin countrybtn {
    position: absolute;
    align-items: center;
    width: 156px;
    height: 63px;
    left: 50%; transform: translateX(-50%); top: 67%;
    text-align:center;
    color: white;
    padding: 12px 4px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 24px;
    background: transparent;
    @media (max-width:main.$small-screen){
        font-size: 18px;;
        width: 120px;
        height: 50px;
        text-align: center;
        justify-content: center;
    }
}
@mixin header {
    z-index: 999;
    position: sticky;
    position: -webkit-sticky;
     top: 0px;
     display: flex; 
     align-self: flex-start;
      justify-content: space-around;
      align-items: center;
      min-height: 12vh;
      background-color:main.$primary-color;
      font-family: 'Poppins', sans-serif;

}
@mixin heading {
    color: transparent;
    font-size: 3.5em;
    position: absolute;
    align-items: center;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    @media (max-width: main.$small-screen){
        font-size: 12vw;;
    }
    }
@mixin pic {
    width: 100vw;
    height: auto;
    display: flex;
    background-color: #5D4954;
     justify-content: center;
     position: relative;
     @media (min-width:main.$big-screen){
        width: 75vw;
        left: 12.5vw;
        radius: 30px;
        transition: 1s ease-in;
        align-items: center;
        align-content: center;
    }
}
@mixin longbtn {
    position: absolute;
    align-items: center;
    width: 156px;
    height: 63px;
    left: 50%; transform: translateX(-50%); top: 67%;
    text-align:center;
    color: white;
    padding: 12px 4px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 20px;
    background: transparent;
    @media (max-width:main.$small-screen){
        font-size: 14px;;
        width: 120px;
        height: 50px;
        text-align: center;
        justify-content: center;
    }
}

header {
    @include header;
}
   
   .heading h2 {
    @include heading;
   }

body{
    overflow: auto;
    background-color: main.$primary-color;
    }   

    body::-webkit-scrollbar { 
    display: none;
    }  

   .pic{
    @include pic;

    }
    
    .countrybtn{
        @include countrybtn;
    }
    .pic .countrybtn:hover{
        background-color: black;
        transition: 1s ease;
    }
    .longbtn{
        @include longbtn;
    }
    .pic .longbtn:hover{
        background-color: black;
        transition: 1s ease;
    }
 
