@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
$font-stack:Poppins, sans-serif;
$primary-color:#5D4954;
$small-screen: 352px;
$big-screen: 1025px;
$iphone-max: 400px;
*,html{
    scroll-behavior: smooth !important;
    margin: 0;
}
@mixin countrybtn {
    position: absolute;
    align-items: center;
    width: 156px;
    height: 63px;
    left: 50%; transform: translateX(-50%); bottom: 10%;
    text-align:center;
    color: white;
    padding: 12px 4px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 24px;
    background: transparent;
    user-select: none;
    @media (max-width:$small-screen){
        font-size: 18px;;
        width: 120px;
        height: 50px;
        text-align: center;
        justify-content: center;
    }
}
@mixin disappering {
    display: flex;
    flex-direction: row;
   align-content: center;
   text-align: center;
  position: relative;
  left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@mixin header {
    z-index: 999;
    width: 100vw;
    position: sticky;
    position: -webkit-sticky;
     top: 0px;
     display: flex; 
     align-self: flex-start;
      justify-content: space-around;
      align-items: center;
      min-height: 12vh;
      background-color:$primary-color;
      font-family: 'Poppins', sans-serif;
}
@mixin heading {
    color: transparent;
    font-size: 3.5em;
    position: absolute;
    align-items: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    @media (max-width: $small-screen){
        font-size: 12vw;;
    }
    }
@mixin pic {
    width: 88vw;
    left: 6vw;
    margin-bottom: 12px;
    height: auto;
    display: flex;
    background-color: #5D4954;
     justify-content: center;
     position: relative;
     @media (min-width:$big-screen){
        width: 75vw;
        left: 12.5vw;
        transition: 1s ease-out;
    }
}
@mixin pictures {
    width: 100%;
    margin-bottom: 50px;
    transition-delay:7s;
    transition: 2s ease;
}
@mixin longbtn {
    position: absolute;
    align-items: center;
    width: 156px;
    height: 63px;
    left: 50%; transform: translateX(-50%); top: 67%;
    text-align:center;
    color: white;
    padding: 12px 4px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 20px;
    background: transparent;
    user-select: none;
    @media (max-width:$small-screen){
        font-size: 14px;;
        width: 120px;
        height: 50px;
        text-align: center;
        justify-content: center;
    }
}
header {
    @include header;
}
   
   .heading h2 {
    @include heading;

   }
 body{
     overflow: auto;
     background-color: $primary-color;
    .pictures{
        @include pictures;
    }
    }


     body::-webkit-scrollbar { 
    display: none;
    }  

    p{
      text-align: center;
      position: relative;
      left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: whitesmoke;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
   .pic{
    @include pic;
    
    }
    
    .countrybtn{
        @include countrybtn;
    }
    .longbtn{
        @include longbtn;
    }

    img{
        border-radius: 24px;
    }
 