/* Error: 40vw and 40px have incompatible units.
 *   ,
 * 6 |     height: 40vw%40px;
 *   |             ^^^^^^^^^
 *   '
 *   all.scss 6:13  countrybtn()
 *   all.scss 98:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 40vw and 40px have incompatible units.\a   \2577 \a 6 \2502      height: 40vw%40px;\a   \2502              ^^^^^^^^^\a   \2575 \a   all.scss 6:13  countrybtn()\a   all.scss 98:9  root stylesheet";
}
