@use "all";
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
*,html{
    scroll-behavior: smooth !important;
}
header { 
    @include all.header;
}
   
   .heading h2 {
    @include all.heading;
   }

body{
    background-color: all.$primary-color;
    overflow: auto;
    }
    body::-webkit-scrollbar { 
    display: none;
    }  

   .pic{
    @include all.pic;
   
    }
    
    .countrybtn{
        @include all.countrybtn;
    }

    .longbtn{
        @include all.longbtn;
    }

    



    