@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
*, html {
  scroll-behavior: smooth !important;
  margin: 0;
}

header {
  z-index: 999;
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  display: flex;
  align-self: flex-start;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color: #5D4954;
  font-family: "Poppins", sans-serif;
}

.heading h2 {
  color: transparent;
  font-size: 3.5em;
  position: absolute;
  align-items: center;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
@media (max-width: 352px) {
  .heading h2 {
    font-size: 12vw;
  }
}

body {
  overflow: auto;
  background-color: #5D4954;
}
body .pictures {
  width: 100%;
  margin-bottom: 50px;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  text-align: center;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.pic {
  width: 88vw;
  left: 6vw;
  margin-bottom: 12px;
  height: auto;
  display: flex;
  background-color: #5D4954;
  justify-content: center;
  position: relative;
}
@media (min-width: 1025px) {
  .pic {
    width: 75vw;
    left: 12.5vw;
    transition: 1s ease-out;
  }
}

.countrybtn {
  position: absolute;
  align-items: center;
  width: 156px;
  height: 63px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  text-align: center;
  color: white;
  padding: 12px 4px;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 24px;
  background: transparent;
}
@media (max-width: 352px) {
  .countrybtn {
    font-size: 18px;
    width: 120px;
    height: 50px;
    text-align: center;
    justify-content: center;
  }
}

.pic .countrybtn:hover {
  background-color: black;
  transition: 1s ease;
}

.longbtn {
  position: absolute;
  align-items: center;
  width: 156px;
  height: 63px;
  left: 50%;
  transform: translateX(-50%);
  top: 67%;
  text-align: center;
  color: white;
  padding: 12px 4px;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 20px;
  background: transparent;
}
@media (max-width: 352px) {
  .longbtn {
    font-size: 14px;
    width: 120px;
    height: 50px;
    text-align: center;
    justify-content: center;
  }
}

.pic .longbtn:hover {
  background-color: black;
  transition: 1s ease;
}

img {
  border-radius: 24px;
}

*, html {
  scroll-behavior: smooth !important;
}

header {
  z-index: 999;
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  display: flex;
  align-self: flex-start;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color: #5D4954;
  font-family: "Poppins", sans-serif;
}

.heading h2 {
  color: transparent;
  font-size: 3.5em;
  position: absolute;
  align-items: center;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
@media (max-width: 352px) {
  .heading h2 {
    font-size: 12vw;
  }
}

body {
  background-color: #5D4954;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.pic {
  width: 88vw;
  left: 6vw;
  margin-bottom: 12px;
  height: auto;
  display: flex;
  background-color: #5D4954;
  justify-content: center;
  position: relative;
}
@media (min-width: 1025px) {
  .pic {
    width: 75vw;
    left: 12.5vw;
    transition: 1s ease-out;
  }
}

.countrybtn {
  position: absolute;
  align-items: center;
  width: 156px;
  height: 63px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  text-align: center;
  color: white;
  padding: 12px 4px;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 24px;
  background: transparent;
}
@media (max-width: 352px) {
  .countrybtn {
    font-size: 18px;
    width: 120px;
    height: 50px;
    text-align: center;
    justify-content: center;
  }
}

.pic .countrybtn:hover {
  background-color: black;
  transition: 1s ease;
}

.longbtn {
  position: absolute;
  align-items: center;
  width: 156px;
  height: 63px;
  left: 50%;
  transform: translateX(-50%);
  top: 67%;
  text-align: center;
  color: white;
  padding: 12px 4px;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 20px;
  background: transparent;
}
@media (max-width: 352px) {
  .longbtn {
    font-size: 14px;
    width: 120px;
    height: 50px;
    text-align: center;
    justify-content: center;
  }
}

.pic .longbtn:hover {
  background-color: black;
  transition: 1s ease;
}

/*# sourceMappingURL=good.css.map */
