@use "all";
@use "main";
*,html{
    scroll-behavior: smooth !important;
}
header {
    @include all.header;
}
   
   .heading h2 {
    @include all.heading;
   }

body{
    background-color: main.$primary-color;
    overflow: auto;
    }   

    body::-webkit-scrollbar { 
    display: none;
    }  

   .pic{
    @include all.pic;

    }
    
    .countrybtn{
        @include all.countrybtn;
    }
    .pic .countrybtn:hover{
        background-color: black;
        transition: 1s ease;
    }
    .longbtn{
        @include all.longbtn;
    }
    .pic .longbtn:hover{
        background-color: black;
        transition: 1s ease;
    }
    